html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  box-sizing: border-box;
  background: rgb(0, 0, 0);
  font-family: Helvetica, sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

#main_container {
    background: rgb(47, 47, 47);
    margin: 20px;
    padding: 15px;
    border-radius: 10px;;
}


#section1 {
    display:flex;
    border: 2px solid cyan;
    color: white;

}

#image-box {

    border: 2px solid white;
    background: white;
    width: 80px;
    height: 80px;


}

#box1 {
    display: flex;

    border: 2px solid rgb(255, 255, 255);

}

#box2 {

    border: 2px solid rgb(255, 228, 205);
    display: flex;
    font-size: small;

}

#box3 {

    border: 2px solid rgb(241, 248, 213);
    font-size: small;
    color: rgba(255, 255, 255, 0.649);

}

#box1 h1 {

    margin-bottom: 5px;
}

#box1 p {
    color: rgb(33, 199, 255);
    margin: 0;
    
}

#Subjects p {

    text-align: right;
    font-weight: bold;
}

#Information p {

    text-align: left;
    color: rgba(255, 255, 255, 0.684);
}

#Information a {
    color: rgba(33, 199, 255, 0.618);
    text-decoration: none;
}